.content {
	background-color: var(--bgColour);
	height: auto;
	min-height: 100px;
	width: 100%;
	padding: 10px;
	box-shadow: 7px 7px 10px #000;
	margin-bottom: 20px;
}

.content .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.content table {
	width: 100%;
}

.content table th {
	text-align: center;
}

.content a {
	text-decoration: underline;
}

.content .title {
	padding-bottom: 10px;
	font-size: 18px;
	color: var(--accentColour);
	border-bottom: 1px solid var(--accentColour);
}

.content p {
	color: var(--txColour);
	font-size: 14px;
	white-space: pre-wrap;
}