.gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

.gallery-container .imgbox {
	--size: 200px;

	width: var(--size);
	height: calc(var(--size) + 20px);
	margin: 20px;
}

.gallery-container .imgbox .image {
	width: var(--size);
	height: var(--size);
	background-color: #000;
	outline: calc(var(--size)/2) solid #0009;
	outline-offset: calc(var(--size)/-2);
	cursor: pointer;
	transition: 300ms;
}

.gallery-container .imgbox .image:hover {
	outline: 5px solid var(--accentColour);
	outline-offset: -1px;
}

.gallery-container .imgbox .text {
	display: block;
	background-color: var(--bgColour);
	padding: 8px;
}